
@{
    ViewBag.Title = "Transaction";
}

<body style="background-color:paleturquoise;color:black">
    <div>
        <h2>Online Medicine Store </h2>
    </div>
    <br />
    <h3><i>Transaction</i></h3>
    <br />
    <fieldset style="background-color: black; color: blanchedalmond; box-shadow: teal 2px 2px 15px; border-radius: 10px; margin-left: 25%; margin-right: 35%;margin-bottom:30% ">
        
        <h3 style="margin-left:30%">Order placed !!!!</h3>
        <br />
        <a href="/" class="btn btn-primary" id="log" name="log" style="margin-left:37%; padding-left: 5%; padding-right: 5% ">Logout</a>
        <br /><br />
    </fieldset>

</body>

