
@{
    ViewBag.Title = "AboutUs";
}

<body style="background-color:black;color:blanchedalmond">
    <div style="float: right;">
        <a class="btn" style="color:blanchedalmond" href="/">Home</a> | <a class="btn" style="color:blanchedalmond" href="/home/contactus">Contact Us</a> | <a class="btn" style="color:blanchedalmond" href="/userproduct/index">All Medicines</a> | <a class="btn" style="color:blanchedalmond" href="/">User Login</a> | <a class="btn" style="color:blanchedalmond" href="/account/adminlogin">Admin Login</a> | <a class="btn" style="color:blanchedalmond" href="/">Register</a>
    </div>
    <div>
        <h2 style="padding-top:1%;color:white">Online Medicine Store</h2>
    </div>
    <br />
    <br />
    <fieldset style="background-color:black;color:blanchedalmond;box-shadow:teal 2px 2px 15px; border-radius: 10px; ">
        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-4">
                        <h2 class="display-4" style="padding-left:5%">About us</h2><br /><br />
                        <p class="lead text-muted mb-0" style="color:white;padding-left:5%">A Complete solution for Online medicine shopping, orders, products and inventory</p>
                        <p class="lead text-muted">

                        </p>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block" style="margin-top:10%;margin-left:5%"><img style="border-radius: 10px;" src="~/Images/m1.jpg" width="600"></div>
                </div>
            </div>
        </div>

        <div class="bg-light py-5">
            <div class="container py-5">
                <div class="row mb-4">
                    <div class="col-lg-5">
                        <h2 class="display-4 font-weight-light" style="padding-left:5%">Our team</h2>

                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Akansh Bisen</h5><span class="small text-uppercase text-muted">CEO - Founder</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
</body>
